body {
	margin:0;
	padding:0;
}

div.content {
	margin:0;
	padding:0;
	position:absolute;
	width:100%;
	height:100%;
}

div#welcome {
	background-color:blue;
}

div#productInfo {
	background-color:red;
}
