body {
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
	color:rgba(255,255,255,255);
	font-size: 40px;     
}

h1 {
	font-size: 50px;     
	font-weight: 100;
}

span {
	font-size: 40px;     
	font-weight: 100;
}

div.content {
	margin:0;
	padding:0;
	position:absolute;
	width:1920px;
	height:1080px;
}

div#background {
	background-image:url("img/hero-img.jpg");
	filter: blur(4px);
}

div#logo {
	background-image:url("img/bAw-logo-payoff-hvid.png");
	background-size:contain;
	width:577px;
	height:179px;
	margin: 0 auto;
	margin-top:270px;
}

div#views {
	background-color: rgba(84, 113, 159, 0.7);
}

div#welcome {
}

div#productInfo div#panel {
	background-color:rgba(255,255,255,0.1);
	width:1200px;
	height:800px;
	margin-top:100px;
	padding-top:20px;
	padding-left:50px;
}


