body {
	margin:0;
	padding:0;
}



div.content {
	margin:0;
	padding:0;
	position:absolute;
	width:1920px;
	height:1080px;
}

div#background {
	background-image:url("img/hero-img.jpg");
	filter: blur(4px);
}

div#logo {
	background-image:url("img/bAw-logo-payoff-hvid.png");
	background-size:contain;
	width:580px;
	height:185px;
}

div#views {
	background-color: rgba(84, 113, 159, 0.7);
}

div#productInfo {
}
